# AWS Public Blockchain - Cross-Chain Examples

In [2]:
pip install PyAthena

Requirement already satisfied: PyAthena in /opt/conda/lib/python3.7/site-packages (2.14.0)
Requirement already satisfied: boto3>=1.21.0 in /opt/conda/lib/python3.7/site-packages (from PyAthena) (1.24.62)
Requirement already satisfied: tenacity>=4.1.0 in /opt/conda/lib/python3.7/site-packages (from PyAthena) (8.0.1)
Requirement already satisfied: botocore>=1.24.7 in /opt/conda/lib/python3.7/site-packages (from PyAthena) (1.27.62)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /opt/conda/lib/python3.7/site-packages (from boto3>=1.21.0->PyAthena) (0.6.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.7/site-packages (from boto3>=1.21.0->PyAthena) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.7/site-packages (from botocore>=1.24.7->PyAthena) (2.8.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/conda/lib/python3.7/site-packages (from botocore>=1.24.7->PyAthena) (1.26.12)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.24.7->PyAthena) (1.14.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [3]:
import boto3
import pandas as pd
from pyathena import connect

In [4]:
S3_BUCKET=!(aws cloudformation list-exports --query "Exports[?Name=='public-blockchain-athena-results'].Value" --output text)
S3_BUCKET=S3_BUCKET[0]

In [5]:
conn = connect(s3_staging_dir='s3://'+S3_BUCKET+'/results/')

### Get number of blocks per chain

In [6]:
df = pd.read_sql("select 'BTC' as chain,count(*) as block_count from btc.blocks group by 'BTC' union select 'ETH' as chain,count(*) as block_count from eth.blocks group by 'ETH'", conn)
df

  chain  block_count
0   BTC       754386